@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Paleta del Flyer */
    --color-fondo: #F4ECE2;    /* Beige suave */
    --color-texto: #5A3927;    /* Café oscuro */
    --color-tierra: #4A2E1F;   /* Montañas oscuras */
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}