@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Paleta Final (Basada en la imagen) */
    --color-fondo: #F4ECE2;          /* Beige Suave del Cielo */
    --color-fondo-oscuro: #1A1313;

    --color-texto: #5A3927;          /* Café Oscuro (Título Principal) */
    --color-texto-claro: #E7D7C7;    /* Crema (Texto sobre fondos oscuros) */
    --color-acento-dorado: #C8996C;
    --color-tierra: #4A2E1F;         /* Color de las montañas */
    --color-texto-principal-claro: #9F7E69; /* Color sutil de 'estoy' */
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-sans);
}