@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-fondo: #F4ECE2;          /* El beige exacto del cielo */
    --color-texto-principal: #5A3927; /* El café oscuro de "Cuando" */
    --color-texto-secundario: #9F7E69;/* El café suave de "estoy" */
    --color-tierra: #4A2E1F;         /* El color de las montañas */
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
    margin: 0;
    font-family: 'serif'; /* Asegúrate de tener una fuente Serif elegante */
}